@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Variables */ 

:root{
    /* Colors */
    --very-dark-gray: hsl(0, 0%, 17%);
    --vark-gray: hsl(0, 0%, 59%);
    
    /* Typography */
    --font-size: 18px; /* text input */
    
    /* Font-weight */
    --weight-400: 400;
    --weight-500: 500;
    --weight-700: 700;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: var(--font-size);
}

.container-main-tracker{
    border: 1px solid transparent;
    width: 100%;
    background-image: url(../assets/img/pattern-bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px; 
}

.container-tracker{
    /* border: 3px solid green; */
    margin: 33px 23px;
    height: 434px;
    display: flex;
    flex-direction: column;
}

.container-tracker__title{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.container-tracker__title h1{
    font-size: 22px;
    color: white;
    font-weight: 400;
    word-spacing: 2px;
}

.container-tracker__search{
    /* border: 1px solid red; */
    display: flex;
    height: 58px;
    margin-bottom: 24px;
}

.container-tracker__search--input{
    /* border: 2px solid purple; */
    width: 90%;
    display: flex;
}

.container-tracker__search--input input{
    width: 100%;
    padding-left: 26px;
    font-weight: var(--weight-400);
    font-size: var(--font-size);
    color: var(--vark-gray);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.container-tracker__search--button{
    /* border: 1px solid blue; */
    width: 10%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--very-dark-gray);
    border: none;
    outline: none;
}

.container-tracker__search--input input:is(:hover, :focus), .container-tracker__search--button:is(:hover, :focus){
    cursor: pointer;
}

.container-tracker__details{
    /* border: 1px solid violet; */
    height: 294px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.container-tracker__details > div{
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    margin-bottom: 18px;
}

.container-tracker__details > div > p{
    /* border: 1px solid  yellow; */
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: var(--weight-500);
    color: var(--vark-gray);
}

.container-tracker__details > div > h2{
    font-size: 18px;
    font-weight: var(--weight-500);
}





.mapa{
    border: 2px solid yellowgreen;
    padding-top: 190px;
    background-color: gray;
}






