@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Variables */ 

:root{
    /* Colors */
    --very-dark-gray: hsl(0, 0%, 17%);
    --vark-gray: hsl(0, 0%, 59%);
    
    /* Typography */
    --font-size: 18px; /* text input */
    
    /* Font-weight */
    --weight-400: 400;
    --weight-500: 500;
    --weight-700: 700;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: var(--font-size);
}

.container-main-tracker{
    width: 100%;
    height: 300px;
    border: 1px solid transparent;
    background-image: url(../assets/img/pattern-bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-tracker{
    height: 434px;
    display: flex;
    flex-direction: column;
    margin: 33px 23px;
}

.container-tracker__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.container-tracker__title h1{
    color: white;
    font-size: 22px;
    font-weight: 400;
    word-spacing: 2px;
}

.container-tracker__search{
    height: 58px;
    display: flex;
    margin-bottom: 24px;
}

.container-tracker__search--input{
    width: 90%;
    display: flex;
}

.container-tracker__search--input input{
    width: 100%;
    color: var(--vark-gray);
    font-size: 14px;
    font-weight: var(--weight-400);
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 26px;
    outline: none;
}

.container-tracker__search--button{
    width: 10%;
    background-color: var(--very-dark-gray);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
}

.container-tracker__search--input input:is(:hover, :focus), .container-tracker__search--button:is(:hover, :focus){
    cursor: pointer;
}

.container-tracker__details{
    height: 294px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.container-tracker__details > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    margin-bottom: 18px;
}

.container-tracker__details > div > p{
    color: var(--vark-gray);
    font-size: 10px;
    font-weight: var(--weight-500);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container-tracker__details > div > h2{
    font-size: 18px;
    font-weight: var(--weight-500);
}

.mapa{
    width: 100%;
    padding-top: 190px;
    background-color: gray;
}

@media (min-width: 768px){
    .container-main-tracker{
        height: 158px;
        background-image: url(../assets/img/pattern-bg-desktop.png);
    }

    .container-tracker{
        height: 200px;
        justify-content: center;
        align-items: center;
        margin: 14px 23px;
    }
    
    .container-tracker__title{
        margin-bottom: 18px;
    }
    
    .container-tracker__search{
        width: 314px;
        display: flex;
        margin-bottom: 28px;
    }
    
    .container-tracker__search--input input{
        width: 100%;
        height: 44px;
    }
    
    .container-tracker__details{
        height: 100px;
        flex-direction: row;
        column-gap: 18px; 
        padding: 18px;
    }
    
    .container-tracker__details > div{
        width: auto; 
        justify-content: flex-start;
        align-items: flex-start;
        border-right: 1px solid var(--vark-gray);
        row-gap: 6px;
        padding-right: 19px;
    }

    .container-tracker__details div:last-child{
        border-right: 1px solid transparent;
        
    }
}






